# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Databases
# =========================
*.db
*.sqlite3

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# YOLO / Ultralytics Outputs
# =========================
runs/

# =========================
# Python cache in all subfolders
# =========================
**/__pycache__/

person_fire/test.jpg
spatiotemporal_engine/trajectories/*.mp4